<div class="historia">
    <div class="container">
        <div class="row">
            <h4 style="color: #b71c1c;">Writer since the age of 14</h4>
            <p>I decided to write my first story in my adolescence; it was a fantasy. However, I quickly developed an
                interest in the crime novel genre. The idea of capturing raw and intricate themes such as human nature
                and the darkness it can fall into fascinated me. <span style="color: #b71c1c;">The noir genre </span>
                helped me convey these themes in a more discernible manner. I always had faith that people reading my
                stories would find some point of identification, as I incorporate personal experiences into them... my
                story could also be yours.</p>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr2.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr4.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr5.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr6.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr8.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr9.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr10.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr11.jpg">

            </div>

        </div>
        <div class="row">
            <div class="row">
                <div class="col l6 m6 s12">
                    <img class="materialboxed responsive-img" src="/assets/images/carr12.jpg">

                </div>
                <div class="col l6 m6 s12 margin-top-7">
                    <img class="materialboxed responsive-img" src="/assets/images/carr13.jpg">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col l6 m6 s12">
                    <img class="materialboxed responsive-img" src="/assets/images/carr14.jpg">

                </div>
                <div class="col l6 m6 s12">


                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Thriller novel writer.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Site map</h5>
                <ul>
                    <li><a href="/" class="white-text navBarD">Home</a></li>
                    <li><a href="/tienda" class="white-text navBarD">Store</a></li>
                    <li><a href="/club" class="white-text navBarD">Club</a></li>
                    <li><a href="/privacidad" class="white-text navBarD">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Copyright © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - All rights reserved.</a>
        </div>
    </div>
</footer>