<div class="incioDiv">

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" class="black-text">Libros</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Coleccionables</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Regalos</a></li>
        <li class="divider"></li>
    </ul>
    <nav class="white navDiv fonts" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="/assets/images/logo1.png" alt="logoIdm"
                    class="imageLogo"></a>
            <ul class="right hide-on-med-and-down navUl">
                <li><a href="/" class="navItems navBarD">Accueil</a></li>
                <li><a href="/aboutme" class="navItems navBarD">Mon histoire</a></li>
                <li><a href="/store" class="navItems navBarD">Boutique en ligne</a></li>
                <li><a href="/theclub" class="navItems navBarD">Le club</a></li>
                <li><a href="/contact" class="navItems navBarD">Contact</a></li>
                <li><a href="/privacy" class="navItems navBarD">Politique de Confidentialité</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>


            <ul id="nav-mobile" class="sidenav">
                <li><a class="sidenav-close" href="#!"><i class="material-icons" style="color: black;">menu</i></a>
                </li>
                <li><a href="/" class="navItems navBarD">Accueil</a></li>
                <li><a href="/aboutme" class="navItems navBarD">Mon histoire</a></li>
                <li><a href="/store" class="navItems navBarD">Boutique en ligne</a></li>
                <li><a href="/theclub" class="navItems navBarD">Le club</a></li>
                <li><a href="/contact" class="navItems navBarD">Contact</a></li>
                <li><a href="/privacy" class="navItems navBarD">Politique de Confidentialité</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="imageInicio">

    </div>


    <div class="contInicioNosotros">
        <div class="titleVarietales container center-align">
            <h4 style="color: #b71c1c;">Écrivain de roman policier</h4>
            <a href="/aboutme" class="waves-effect waves-light btn #b71c1c red darken-4">À propos</a>

        </div>
        <!-- Gallery -->
        <div id="portfolio" class="section gray">
            <div class="container">
                <div class="gallery row">
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/proximamente.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Le souffle des innocents</span> <br>
                                <span class="price">$18.00 </span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>Le souffle des innocents</h3>
                                    <span class="price" style="color: black;">$18.00</span> <br>
                                    <span class="price">Frais d'expédition: $0.00 </span>
                                </div>
                                <p class="description">
                                    "La race humaine est tellement naïve que cela me répugne. Toujours en s'attendant à
                                    ce que leurs derrières atterrissent sur du rembourrage, toujours en réfléchissant à
                                    la manière de prendre l'avantage sur les autres ; mais rarement le font-ils de
                                    manière intelligente". <br> <br>

                                    Une vague de féminicides frappe la ville de Mexico. Après une nuit d'alcool,
                                    l'écrivain Francisco Rojas nous plonge dans une série d'événements sombres, qui
                                    restent flous dans sa mémoire. Alors qu'il combat son alcoolisme, il découvre son
                                    homosexualité en compagnie d'un jeune écrivain soumis, représentant une relation de
                                    plus en plus violente. Ensemble, ils dénouent les secrets cruels d'un psychopathe
                                    que personne ne connaît et d'un crime que personne n'a résolu.</p>
                                <a href="https://books.google.com.mx/books?id=nFSWEAAAQBAJ&printsec=frontcover&dq=el+aliento+de+los+inocentes&hl=es-419&sa=X&redir_esc=y#v=onepage&q=el%20aliento%20de%20los%20inocentes&f=false"
                                    class="waves-effect waves-light btn #b71c1c red darken-4"
                                    target="_blank">Preview</a>
                                <br> <br>
                                <form action="/create-checkout-session-inocentes" method="POST">
                                    <button type="submit" id="checkout-button"
                                        class="btn btn-primary btn-rounded btn-lg">Buy</button>
                                </form>


                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/lvrs2.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/lvrs3.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/lvrs4.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/lvrs5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4  gallery-item gallery-expand gallery-filter polygon">

                    </div>
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/portadaLVRS.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>La otra vida de Rebecca Smirnov</span> <br>
                                <span class="price">$14.00</span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>La otra vida de Rebecca Smirnov</h3>
                                    <span class="price" style="color: black;">$14.00</span> <br>
                                    <span class="price">Frais d'expédition: $5.00 </span>
                                </div>
                                <p class="description">
                                    Death penalty is a posibility for Alejandro and Héctor, who are expecting for the
                                    judge's sentence for a crime they did not commit. The "women killers" case has been
                                    opened again. Its just then that they decide to escape from the asylum where they
                                    are being kept. <br>
                                    When touching the real world, they face with all kind of crazy characters, which
                                    remind us of the cruelty of human condition. In a tense atmosphere, adrenaline will
                                    bring up to the surface burried in the past, about a life full of passion and
                                    treason. They will face an unknown enemy, who lies in the dark of: The Afterlife of
                                    Rebecca Sminov.</p>
                                <a href="https://books.google.com.mx/books/about/La_otra_vida_de_Rebecca_Smirnov.html?id=yxv9DwAAQBAJ&printsec=frontcover&source=kp_read_button&hl=es-419&redir_esc=y#v=onepage&q&f=false"
                                    class="waves-effect waves-light btn #b71c1c red darken-4"
                                    target="_blank">Preview</a>
                                <br> <br>
                                {{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="LFA7WPGKZR5QW">
                                    <input type="image"
                                        src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif"
                                        border="0" name="submit"
                                        alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
                                        width="1" height="1">
                                </form> --}}
                                <form action="/create-checkout-session" method="POST">
                                    <button type="submit" id="checkout-button"
                                        class="btn btn-primary btn-rounded btn-lg">Buy</button>
                                </form>


                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/lvrs2.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/lvrs3.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/lvrs4.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/lvrs5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div><!-- /.container -->
    </div>
    <div class="containerParallax parallax-container ">
        <div class="overlayParallax">
            <div class="parallax"><img src="/assets/images/sal.jpg"></div>
            <div class="container  center-align">
                <h4 class="pedidoEspecialTitle">Êtes-vous assez aventureux?</h4>
                <a href="/store" class="waves-effect waves-light btn #ffab00 amber accent-4"
                    style="color: black; font-weight:bolder">Voir les articles spéciaux</a>
            </div>

        </div>
    </div> <br>
    <div class="carrouselDiv">
        <div class="titleVarietales container center-align">
            <h4 style="color: #b71c1c;">Quel est le club?</h4>
            <h5 style="color: #424242;">
                —J'ai eu la chance de rencontrer une communauté de lecteurs ouverte et réceptive. C'est pourquoi j'ai
                décidé de créer un espace où les passionnés de littérature et moi pouvons avoir une communication plus
                étroite.
            </h5>

        </div>
        <!-- Gallery -->
        <div id="portfolio" class="section gray">
            <div class="container">
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"
                                onclick="location.href='/club';">
                                <img class="activator" src="/assets/images/club7.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"
                                onclick="location.href='/club';">
                                <img class="activator" src="/assets/images/club8.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"
                                onclick="location.href='/club';">
                                <img class="activator" src="/assets/images/club9.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div class="gallery row">
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/club1.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Corazón de Maguey</span> <br>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Corazón de Maguey</h3>
                                    <span class="price">Matices frescos, herbales & cítricos.</span>
                                </div>
                                <p class="description">
                                    Coctel versatil en paladar. <br> Puede maridarse con ceviches, pescados asados,
                                    pastas
                                    cremosas y ensaladas que contengan: menta, hierbabuena, pera y manzana. También con
                                    quesos como: Brie, Camembert, queso crema y queso panela.</p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">¾ de taza de agua mineral o refresco</li>
                                    <li class="collection-item">1 cucharada de jugo de limón</li>
                                    <li class="collection-item">1 onza de mezcal Siete Lunas</li>
                                    <li class="collection-item">Hierbabuena</li>
                                </ul>
                                </p>


                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/club2.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Mezcalita de frutos rojos</span>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Mezcalita de frutos rojos</h3>
                                    <span class="price">Matices dulces, ácidos, florales y frescos.</span>
                                </div>
                                <p class="description">
                                    Coctel de carácter frutal, dulce y floral. <br> Puede maridarse con ensaladas que
                                    contengan fresas, nueces caramelizadas y queso de cabra. También puede consumirse en
                                    compañía de quesos como el camembert y el brie. Por último, los sandwiches y wraps
                                    quedan muy bien como opción para esta bebida. </p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">1/2 taza de frambuesas</li>
                                    <li class="collection-item">1 cucharada de azúcar</li>
                                    <li class="collection-item">2 caballitos de mezcal</li>
                                    <li class="collection-item">1 lata de agua mineral</li>
                                    <li class="collection-item">1 lata de refresco de limón</li>
                                    <li class="collection-item">Hielo al gusto</li>
                                    <li class="collection-item">1/2 taza de zarzamoras</li>
                                </ul>
                                </p>

                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/club3.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Mezcal Sweet & Sour</span>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Mezcal Sweet & Sour</h3>
                                    <span class="price">Matices dulces, ácidos, picantes y minerales.</span>
                                </div>
                                <p class="description">
                                    Coctel de carácter amaderado, dulce y muy presente. <br> Puede maridarse con carnes
                                    rojas de corte graso, platillos con tuétano y tacos de carnitas. También con pastas
                                    cremosas, mariscos y antojitos mexicanos. </p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">1 oz mezcal 7 lunas</li>
                                    <li class="collection-item">2 1/2 oz jugo de piña natural</li>
                                    <li class="collection-item">2 1/2 oz jugo de limón natural</li>
                                    <li class="collection-item">2 cucharadas miel de agave</li>
                                    <li class="collection-item">2 Oz agua mineral</li>
                                    <li class="collection-item">Hielo al gusto</li>
                                    <li class="collection-item" style="font-weight: bolder;">Para presentar:</li>
                                    <li class="collection-item">Chamoy al gusto</li>
                                    <li class="collection-item">Sal de gusano</li>
                                    <li class="collection-item">Hojas de hierbabuena</li>
                                </ul>
                                </p>

                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>


                </div> --}}

            </div>
            <div class="row centered">
                <div class="col l4 m4 s12"></div>
                <div class="col l4 m4 s12">
                    <a href="/club">
                        <h4 style="color: #424242;">J'aimerais m'inscrire...</h4>
                    </a>
                </div>
                <div class="col l4 m4 s12"></div>
            </div>

        </div><!-- /.container -->
        <div class="">
            <div class="container">
                <div class="row">
                    <a href="https://www.instagram.com/alejandrovilpa/?hl=es" target="_blank">
                        <h4 class="titleSiguenos">Suis-moi sur Instagram <i class="fab fa-instagram"></i>
                        </h4>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s6">
                    <a href="https://www.instagram.com/alejandrovilpa/?hl=es" target="_blank">
                        <img class="responsive-img instaOption" src="/assets/images/instagram2.jpg">
                    </a>
                </div>
                <div class="col l3 m3 s6">
                    <a href="https://www.instagram.com/alejandrovilpa/?hl=es" target="_blank">
                        <img class="responsive-img instaOption" src="/assets/images/instagram1.jpg"></a>

                </div>
                <div class="col l3 m3 s6">
                    <a href="https://www.instagram.com/alejandrovilpa/?hl=es" target="_blank">
                        <img class="responsive-img instaOption" src="/assets/images/instagram3.jpg"></a>

                </div>
                <div class="col l3 m3 s6">
                    <a href="https://www.instagram.com/alejandrovilpa/?hl=es" target="_blank">
                        <img class="responsive-img instaOption" src="/assets/images/instagram4.jpg"></a>

                </div>
            </div>
            <div class="row">
                <div class="container">
                    <a href="https://www.instagram.com/alejandrovilpa/?hl=es">
                        <h5 class="titleSiguenos">@alejandrovilpa</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Écrivain de roman policier.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Plan du site</h5>
                <ul>
                    <li><a href="/" class="white-text navBarD">Accueil</a></li>
                    <li><a href="/store" class="white-text navBarD">Boutique en ligne</a></li>
                    <li><a href="/theclub" class="white-text navBarD">Le club</a></li>
                    <li><a href="/privacy" class="white-text navBarD">Politique de Confidentialité</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Droits d'auteur © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - Tous droits réservés.</a>
        </div>
    </div>
</footer>