<div class="contactoDiv">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" class="black-text">Libros</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Coleccionables</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Regalos</a></li>
        <li class="divider"></li>
    </ul>
    <nav class="white navDiv fonts" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="/assets/images/logo1.png" alt="logoIdm"
                    class="imageLogo"></a>
            <ul class="right hide-on-med-and-down navUl">
                <li><a href="/" class="navItems navBarD">Inicio</a></li>
                <li><a href="/mihistoria" class="navItems navBarD">Mi historia</a></li>
                <li><a href="/tienda" class="navItems navBarD">Tienda</a></li>
                <li><a href="/club" class="navItems navBarD">Club</a></li>
                <li><a href="/contacto" class="navItems navBarD">Contacto</a></li>
                <li><a href="/privacidad" class="navItems navBarD">Aviso de privacidad</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>


            <ul id="nav-mobile" class="sidenav">
                <li><a class="sidenav-close" href="#!"><i class="material-icons" style="color: black;">menu</i></a>
                </li>
                <li><a href="/" class="navItems navBarD">Inicio</a></li>
                <li><a href="/mihistoria" class="navItems navBarD">Mi historia</a></li>
                <li><a href="/tienda" class="navItems navBarD">Tienda</a></li>
                <li><a href="/club" class="navItems navBarD">Club</a></li>
                <li><a href="/contacto" class="navItems navBarD">Contacto</a></li>
                <li><a href="/privacidad" class="navItems navBarD">Aviso de privacidad</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <br>
    <div class="container centered titleSiguenos">
        <div class="row">

            <h3>Contáctame</h3>
            <p style="font-style: italic; font-size: 1.5rem">También puedes enviar correo directamente a:
                alecvipa@gmail.com
            </p>

        </div>
        <div class="row">
            <form class="col s12" action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                <div class="row">
                    <div class="input-field col s6">
                        <input name="name" placeholder="Nombre" id="first_name" type="text" class="validate formInput"
                            required="" aria-required="true">
                        <label for="first_name">Nombre completo</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="email" id="email" type="text" class="validate formInput" required=""
                            aria-required="true">
                        <label for="email">Correo electrónico</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="message" id="input_text" type="text" data-length="10" required=""
                            aria-required="true" class="formInput">
                        <label for="input_text">Mensaje</label>
                    </div>
                </div>
                <div class="row">
                    <label>
                        <input type="checkbox" required="" aria-required="true" />
                        <span>Acepto <a href="/privacidad">aviso de privacidad</a></span>
                    </label>
                </div>
                <button class="btn waves-effect waves-light #212121 grey darken-4">Enviar
                    <i class="material-icons right" style="color: white !important;">send</i>
                </button>
            </form>
        </div>
    </div> <br>
    <div class="opcionComprar">
        <div class="container">
            <div class="row centered titleSiguenos">
                <h4>Te invito a ver los productos destacados de mi tienda:</h4>
            </div>
            <div class="row">
                <div class="col l4 m4 s6">
                    <img class="responsive-img" src="/assets/images/libroSmirnov.jpg"
                        onclick="location.href='/tienda';">
                </div>
                <div class="col l4 m4 s6">
                    <img class="responsive-img" src="/assets/images/tazaCuadrada.jpg"
                        onclick="location.href='/tienda';">
                </div>
                <div class="col l4 m4 s6">
                    <img class="responsive-img" src="/assets/images/proximaCuadrada.jpg"
                        onclick="location.href='/tienda';">
                </div>
            </div>
        </div>
    </div> <br>
</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Thriller novel writer.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Site map</h5>
                <ul>
                    <li><a href="/" class="white-text navBarD">Home</a></li>
                    <li><a href="/tienda" class="white-text navBarD">Store</a></li>
                    <li><a href="/club" class="white-text navBarD">Club</a></li>
                    <li><a href="/privacidad" class="white-text navBarD">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Copyright © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - All rights reserved.</a>
        </div>
    </div>
</footer>