<div class="graciasDiv">
    <div class="imageGracias">

    </div>
    <div class="container">
        <h4 class="center-align">
            ¡Gracias por tu compra!
        </h4>
        <hr>
        <h5 class="center-align">
            En breve recibirás tu pedido.
        </h5>
        <br>
    </div>

    <div class="divCompra #ffffff white">
        <br>
        <div class="carrouselDiv">
            <div class="titleVarietales container center-align">
                <h4 style="color: #b71c1c;">¿Qué es el club?</h4>
                <h5 style="color: #424242;">
                    —He tenido la fortuna de encontrarme con una comunidad lectora abierta y receptiva. Es por esto que
                    decidí crear un espacio para que, los amantes de la literatura y yo, podamos tener una comunicación
                    más
                    cercana.
                </h5>

            </div>
            <!-- Gallery -->
            <div id="portfolio" class="section gray">
                <div class="container">
                    <div class="row">
                        <div class="col l4 m6 s12">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light"
                                    onclick="location.href='/club';">
                                    <img class="activator" src="/assets/images/club1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m6 s12">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light"
                                    onclick="location.href='/club';">
                                    <img class="activator" src="/assets/images/club2.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m6 s12">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light"
                                    onclick="location.href='/club';">
                                    <img class="activator" src="/assets/images/club3.jpg">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row centered">
                    <div class="col l4 m4 s12"></div>
                    <div class="col l4 m4 s12">
                        <a href="/club">
                            <h4 style="color: #424242;">Quiero registrarme...</h4>
                        </a>
                    </div>
                    <div class="col l4 m4 s12"></div>
                </div>

            </div><!-- /.container -->
            <div class="">
                <div class="container">
                    <div class="row">
                        <a href="https://www.instagram.com/alejandrovilpa/?hl=es" target="_blank">
                            <h4 class="titleSiguenos">Sígueme en instagram <i class="fab fa-instagram"></i>
                            </h4>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m3 s6">
                        <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                            <img class="responsive-img instaOption" src="/assets/images/instagram2.jpg">
                        </a>
                    </div>
                    <div class="col l3 m3 s6">
                        <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                            <img class="responsive-img instaOption" src="/assets/images/instagram1.jpg"></a>

                    </div>
                    <div class="col l3 m3 s6">
                        <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                            <img class="responsive-img instaOption" src="/assets/images/instagram3.jpg"></a>

                    </div>
                    <div class="col l3 m3 s6">
                        <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                            <img class="responsive-img instaOption" src="/assets/images/instagram4.jpg"></a>

                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <a href="https://www.instagram.com/alejandrovilpa/?hl=es">
                            <h5 class="titleSiguenos">@alejandrovilpa</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Thriller novel writer.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Site map</h5>
                <ul>
                    <li><a href="/" class="white-text navBarD">Home</a></li>
                    <li><a href="/tienda" class="white-text navBarD">Store</a></li>
                    <li><a href="/club" class="white-text navBarD">Club</a></li>
                    <li><a href="/privacidad" class="white-text navBarD">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Copyright © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - All rights reserved.</a>
        </div>
    </div>
</footer>