<div class="incioDiv">
    <div class="imageInicio">

    </div>


    <div class="contInicioNosotros">
        <div class="titleVarietales container center-align">
            <h4 style="color: #b71c1c;">Escritor de novela de crimen</h4>
            <a href="/mihistoria" class="waves-effect waves-light btn #b71c1c red darken-4">Conóceme</a>

        </div>
        <!-- Gallery -->
        <div id="portfolio" class="section gray">
            <div class="container">
                <div class="gallery row">
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/proximamente.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>El aliento de los inocentes</span> <br>
                                <span class="price">$320.00 MN</span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>El aliento de los inocentes</h3>
                                    <span class="price" style="color: black;">$320.00 MN</span> <br>
                                    <span class="price">Costo de envío: $0.00 MN</span>
                                </div>
                                <p class="description">
                                    «La raza humana es tan ingenua que me enferma. Siempre esperando que sus traseros
                                    caigan sobre acolchado, siempre pensando en cómo obtener ventaja sobre otros; pero
                                    pocas veces, lo hacen de una manera inteligente». <br>

                                    Una ola de feminicidios azota la ciudad de México. Tras una noche de alcohol, el
                                    escritor Francisco Rojas nos sumerge en una serie de oscuros eventos, que permanecen
                                    borrosos en su memoria. Mientras él lucha contra su alcoholismo, descubre su
                                    homosexualidad en compañía de un joven escritor sumiso, que representa una relación
                                    cada vez más violenta. Juntos, desmantelan los crueles secretos de un psicópata que
                                    nadie conoce y de un crimen que nadie ha resuelto.</p>
                                <a href="https://books.google.com.mx/books?id=nFSWEAAAQBAJ&printsec=frontcover&dq=el+aliento+de+los+inocentes&hl=es-419&sa=X&redir_esc=y#v=onepage&q=el%20aliento%20de%20los%20inocentes&f=false"
                                    class="waves-effect waves-light btn #b71c1c red darken-4" target="_blank">Vista
                                    previa del libro</a>
                                <br> <br>
                                <form action="/create-checkout-session-inocentes" method="POST">
                                    <button type="submit" id="checkout-button"
                                        class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                                </form>


                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/lvrs2.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/lvrs3.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/lvrs4.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/lvrs5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4  gallery-item gallery-expand gallery-filter polygon">

                    </div>
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/portadaLVRS.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>La otra vida de Rebecca Smirnov</span> <br>
                                <span class="price">$200.00 MN</span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>La otra vida de Rebecca Smirnov</h3>
                                    <span class="price" style="color: black;">$200.00 MN</span> <br>
                                    <span class="price">Costo de envío: $55.00 MN</span>
                                </div>
                                <p class="description">
                                    La pena de muerte es una posibilidad para Alejandro y Héctor, que esperan el
                                    veredicto por un crimen que no cometieron. El caso de “Los asesinos de mujeres” se
                                    ha reabierto. Es entonces que deciden actuar y escapar del hospital psiquiátrico
                                    donde los tienen reclusos. <br>
                                    Al salir al mundo real, se enfrentarán con todo tipo de personajes descarnados, que
                                    nos recuerdan la crudeza de la condición humana. En una atmósfera de tensión y
                                    adrenalina, surgen los secretos enterrados en el pasado, acerca de una vida de
                                    pasión y traición; misma que cobra expresión en la injusta condena que esperaban
                                    anteriormente. Se encontrarán con un enemigo desconocido, que yace en las sombras
                                    de: “la otra vida de Rebecca Smirnov”.</p>
                                <a href="https://books.google.com.mx/books/about/La_otra_vida_de_Rebecca_Smirnov.html?id=yxv9DwAAQBAJ&printsec=frontcover&source=kp_read_button&hl=es-419&redir_esc=y#v=onepage&q&f=false"
                                    class="waves-effect waves-light btn #b71c1c red darken-4" target="_blank">Vista
                                    previa del libro</a>
                                <br> <br>
                                {{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="LFA7WPGKZR5QW">
                                    <input type="image"
                                        src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif"
                                        border="0" name="submit"
                                        alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
                                        width="1" height="1">
                                </form> --}}
                                <form action="/create-checkout-session" method="POST">
                                    <button type="submit" id="checkout-button"
                                        class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                                </form>


                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/lvrs2.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/lvrs3.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/lvrs4.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/lvrs5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div><!-- /.container -->
    </div>
    <div class="containerParallax parallax-container ">
        <div class="overlayParallax">
            <div class="parallax"><img src="/assets/images/sal.jpg"></div>
            <div class="container  center-align">
                <h4 class="pedidoEspecialTitle">¿Tienes alma aventurera?</h4>
                <a href="/tienda" class="waves-effect waves-light btn #ffab00 amber accent-4"
                    style="color: black; font-weight:bolder">Ver productos de colección</a>
            </div>

        </div>
    </div> <br>
    <div class="carrouselDiv">
        <div class="titleVarietales container center-align">
            <h4 style="color: #b71c1c;">¿Qué es el club?</h4>
            <h5 style="color: #424242;">
                —He tenido la fortuna de encontrarme con una comunidad lectora abierta y receptiva. Es por esto que
                decidí crear un espacio para que, los amantes de la literatura y yo, podamos tener una comunicación más
                cercana.
            </h5>

        </div>
        <!-- Gallery -->
        <div id="portfolio" class="section gray">
            <div class="container">
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"
                                onclick="location.href='/club';">
                                <img class="activator" src="/assets/images/club1.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"
                                onclick="location.href='/club';">
                                <img class="activator" src="/assets/images/club2.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"
                                onclick="location.href='/club';">
                                <img class="activator" src="/assets/images/club3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div class="gallery row">
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/club1.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Corazón de Maguey</span> <br>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Corazón de Maguey</h3>
                                    <span class="price">Matices frescos, herbales & cítricos.</span>
                                </div>
                                <p class="description">
                                    Coctel versatil en paladar. <br> Puede maridarse con ceviches, pescados asados,
                                    pastas
                                    cremosas y ensaladas que contengan: menta, hierbabuena, pera y manzana. También con
                                    quesos como: Brie, Camembert, queso crema y queso panela.</p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">¾ de taza de agua mineral o refresco</li>
                                    <li class="collection-item">1 cucharada de jugo de limón</li>
                                    <li class="collection-item">1 onza de mezcal Siete Lunas</li>
                                    <li class="collection-item">Hierbabuena</li>
                                </ul>
                                </p>


                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/club2.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Mezcalita de frutos rojos</span>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Mezcalita de frutos rojos</h3>
                                    <span class="price">Matices dulces, ácidos, florales y frescos.</span>
                                </div>
                                <p class="description">
                                    Coctel de carácter frutal, dulce y floral. <br> Puede maridarse con ensaladas que
                                    contengan fresas, nueces caramelizadas y queso de cabra. También puede consumirse en
                                    compañía de quesos como el camembert y el brie. Por último, los sandwiches y wraps
                                    quedan muy bien como opción para esta bebida. </p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">1/2 taza de frambuesas</li>
                                    <li class="collection-item">1 cucharada de azúcar</li>
                                    <li class="collection-item">2 caballitos de mezcal</li>
                                    <li class="collection-item">1 lata de agua mineral</li>
                                    <li class="collection-item">1 lata de refresco de limón</li>
                                    <li class="collection-item">Hielo al gusto</li>
                                    <li class="collection-item">1/2 taza de zarzamoras</li>
                                </ul>
                                </p>

                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/club3.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Mezcal Sweet & Sour</span>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Mezcal Sweet & Sour</h3>
                                    <span class="price">Matices dulces, ácidos, picantes y minerales.</span>
                                </div>
                                <p class="description">
                                    Coctel de carácter amaderado, dulce y muy presente. <br> Puede maridarse con carnes
                                    rojas de corte graso, platillos con tuétano y tacos de carnitas. También con pastas
                                    cremosas, mariscos y antojitos mexicanos. </p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">1 oz mezcal 7 lunas</li>
                                    <li class="collection-item">2 1/2 oz jugo de piña natural</li>
                                    <li class="collection-item">2 1/2 oz jugo de limón natural</li>
                                    <li class="collection-item">2 cucharadas miel de agave</li>
                                    <li class="collection-item">2 Oz agua mineral</li>
                                    <li class="collection-item">Hielo al gusto</li>
                                    <li class="collection-item" style="font-weight: bolder;">Para presentar:</li>
                                    <li class="collection-item">Chamoy al gusto</li>
                                    <li class="collection-item">Sal de gusano</li>
                                    <li class="collection-item">Hojas de hierbabuena</li>
                                </ul>
                                </p>

                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>


                </div> --}}

            </div>
            <div class="row centered">
                <div class="col l4 m4 s12"></div>
                <div class="col l4 m4 s12">
                    <a href="/club">
                        <h4 style="color: #424242;">Quiero registrarme...</h4>
                    </a>
                </div>
                <div class="col l4 m4 s12"></div>
            </div>

        </div><!-- /.container -->
        <div class="">
            <div class="container">
                <div class="row">
                    <a href="https://www.instagram.com/alejandrovilpa/?hl=es" target="_blank">
                        <h4 class="titleSiguenos">Sígueme en instagram <i class="fab fa-instagram"></i>
                        </h4>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s6">
                    <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                        <img class="responsive-img instaOption" src="/assets/images/instagram2.jpg">
                    </a>
                </div>
                <div class="col l3 m3 s6">
                    <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                        <img class="responsive-img instaOption" src="/assets/images/instagram1.jpg"></a>

                </div>
                <div class="col l3 m3 s6">
                    <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                        <img class="responsive-img instaOption" src="/assets/images/instagram3.jpg"></a>

                </div>
                <div class="col l3 m3 s6">
                    <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                        <img class="responsive-img instaOption" src="/assets/images/instagram4.jpg"></a>

                </div>
            </div>
            <div class="row">
                <div class="container">
                    <a href="https://www.instagram.com/alejandrovilpa/?hl=es">
                        <h5 class="titleSiguenos">@alejandrovilpa</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

</div>