<div class="clubDiv">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" class="black-text">Libros</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Coleccionables</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Regalos</a></li>
        <li class="divider"></li>
    </ul>
    <nav class="white navDiv fonts" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="/assets/images/logo1.png" alt="logoIdm"
                    class="imageLogo"></a>
            <ul class="right hide-on-med-and-down navUl">
                <li><a href="/accueil" class="navItems navBarD">Accueil</a></li>
                <li><a href="/monhistoire" class="navItems navBarD">Mon histoire</a></li>
                <li><a href="/boutique" class="navItems navBarD">Boutique en ligne</a></li>
                <li><a href="/leclub" class="navItems navBarD">Le club</a></li>
                <li><a href="/lecontact" class="navItems navBarD">Contact</a></li>
                <li><a href="/politique" class="navItems navBarD">Politique de Confidentialité</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>


            <ul id="nav-mobile" class="sidenav">
                <li><a class="sidenav-close" href="#!"><i class="material-icons" style="color: black;">menu</i></a>
                </li>
                <li><a href="/accueil" class="navItems navBarD">Accueil</a></li>
                <li><a href="/monhistoire" class="navItems navBarD">Mon histoire</a></li>
                <li><a href="/boutique" class="navItems navBarD">Boutique en ligne</a></li>
                <li><a href="/leclub" class="navItems navBarD">Le club</a></li>
                <li><a href="/lecontact" class="navItems navBarD">Contact</a></li>
                <li><a href="/politique" class="navItems navBarD">Politique de Confidentialité</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <div class="row t">
            <h1>
                —Rejoins le club.
            </h1>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Avantages:</h4>
                    </li>
                    <li class="collection-item">
                        <div>Remises exclusives</div>
                    </li>
                    <li class="collection-item">
                        <div>Lecture de mes œuvres avant tout le monde</div>
                    </li>
                    <li class="collection-item">
                        <div>Priorité pour les cadeaux</div>
                    </li>
                    <li class="collection-item">
                        <div>Vous êtes artiste? Faisons quelque chose ensemble!</div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="contactoDiv"> <br>
        <div class="container titleSiguenos">
            <div class="row">

                <h3>Faites partie de cette communauté.</h3>
                <p style="font-style: italic; font-size: 1.5rem">Partagez avec moi votre passion pour les livres...
                </p>

            </div>
            <div class="row">
                <form class="col s12" action="/club/email" method="POST" onsubmit="return submitClubForm(this);">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="nameClub" placeholder="Nom" id="first_name" type="text"
                                class="validate formInput" required="" aria-required="true">
                            <label for="first_name">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="emailClub" id="email" type="text" class="validate formInput" required=""
                                aria-required="true">
                            <label for="email">e-mail</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="countryClub" id="input_text" type="text" data-length="10" required=""
                                aria-required="true" class="formInput">
                            <label for="input_text">Pays de résidence</label>
                        </div>
                    </div>
                    <div class="row">
                        <label>
                            <input type="checkbox" required="" aria-required="true" />
                            <span>J'accepte la <a href="/privacy">politique de confidentialité</a></span>
                        </label>
                    </div>
                    <button class="btn waves-effect waves-light #212121 grey darken-4">S'inscrire
                        <i class="material-icons right" style="color: white !important;">send</i>
                    </button>
                </form>
            </div>
        </div> <br>

        <div class="opcionComprar">
            <div class="container">
                <div class="row centered titleSiguenos">
                    <h4>Voir les meilleurs produits dans ma boutique:</h4>
                </div>
                <div class="row">
                    <div class="col l4 m4 s6">
                        <img class="responsive-img" src="/assets/images/libroSmirnov.jpg"
                            onclick="location.href='/store';">
                    </div>
                    <div class="col l4 m4 s6">
                        <img class="responsive-img" src="/assets/images/tazaCuadrada.jpg"
                            onclick="location.href='/store';">
                    </div>
                    <div class="col l4 m4 s6">
                        <img class="responsive-img" src="/assets/images/proximaCuadrada.jpg"
                            onclick="location.href='/store';">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Écrivain de roman policier.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Plan du site</h5>
                <ul>
                    <li><a href="/accueil" class="white-text navBarD">Accueil</a></li>
                    <li><a href="/boutique" class="white-text navBarD">Boutique en ligne</a></li>
                    <li><a href="/leclub" class="white-text navBarD">Le club</a></li>
                    <li><a href="/politique" class="white-text navBarD">Politique de Confidentialité</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Droits d'auteur © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - Tous droits réservés.</a>
        </div>
    </div>
</footer>