<div class="historia">
    <div class="container">
        <div class="row">
            <h4 style="color: #b71c1c;">Escritor desde los 14 años</h4>
            <p>Decidí escribir mi primera historia en mi adolescencia; era de fantasía. Pero rápidamente cobré interés
                sobre el
                género de la novela de crimen. Me parecía fascinante la idea de plasmar temas crudos y complicados como
                lo son
                la naturaleza humana y la obscuridad en la que puede caer. <span style="color: #b71c1c;">El género
                    negro</span> me ayudó a entregar estos
                temas de una manera más disernible. Siempre tuve fe en que las personas que leyeran mis historias, se
                sentirían idenficadas en algún punto, pues plasmo en ellas experiencias personales... mi historia puede
                ser también la tuya.</p>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr2.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr4.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr5.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr6.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr8.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr9.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr10.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr11.jpg">

            </div>

        </div>
        <div class="row">
            <div class="row">
                <div class="col l6 m6 s12">
                    <img class="materialboxed responsive-img" src="/assets/images/carr12.jpg">

                </div>
                <div class="col l6 m6 s12 margin-top-7">
                    <img class="materialboxed responsive-img" src="/assets/images/carr13.jpg">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr14.jpg">

            </div>
             <div class="col l6 m6 s12">
                

            </div>
        </div>
        </div>
    </div>
</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Thriller novel writer.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Site map</h5>
                <ul>
                    <li><a href="/" class="white-text navBarD">Home</a></li>
                    <li><a href="/tienda" class="white-text navBarD">Store</a></li>
                    <li><a href="/club" class="white-text navBarD">Club</a></li>
                    <li><a href="/privacidad" class="white-text navBarD">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Copyright © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - All rights reserved.</a>
        </div>
    </div>
</footer>