<div class="historia">
    <div class="container">
        <div class="row">
            <h4 style="color: #b71c1c;">Escritor desde los 14 años</h4>
            <p>Decidí escribir mi primera historia en mi adolescencia; era de fantasía. Pero rápidamente cobré interés
                sobre el
                género de la novela de crimen. Me parecía fascinante la idea de plasmar temas crudos y complicados como
                lo son
                la naturaleza humana y la obscuridad en la que puede caer. <span style="color: #b71c1c;">El género
                    negro</span> me ayudó a entregar estos
                temas de una manera más disernible. Siempre tuve fe en que las personas que leyeran mis historias, se
                sentirían idenficadas en algún punto, pues plasmo en ellas experiencias personales... mi historia puede
                ser también la tuya.</p>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr2.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr4.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr5.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr6.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr8.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr9.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr10.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr11.jpg">

            </div>

        </div>
        <div class="row">
            <div class="row">
                <div class="col l6 m6 s12">
                    <img class="materialboxed responsive-img" src="/assets/images/carr12.jpg">

                </div>
                <div class="col l6 m6 s12 margin-top-7">
                    <img class="materialboxed responsive-img" src="/assets/images/carr13.jpg">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr14.jpg">

            </div>
             <div class="col l6 m6 s12">
                

            </div>
        </div>
        </div>
    </div>
</div>