<div class="historia">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" class="black-text">Libros</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Coleccionables</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Regalos</a></li>
        <li class="divider"></li>
    </ul>
    <nav class="white navDiv fonts" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="/assets/images/logo1.png" alt="logoIdm"
                    class="imageLogo"></a>
            <ul class="right hide-on-med-and-down navUl">
                <li><a href="/accueil" class="navItems navBarD">Accueil</a></li>
                <li><a href="/monhistoire" class="navItems navBarD">Mon histoire</a></li>
                <li><a href="/boutique" class="navItems navBarD">Boutique en ligne</a></li>
                <li><a href="/leclub" class="navItems navBarD">Le club</a></li>
                <li><a href="/lecontact" class="navItems navBarD">Contact</a></li>
                <li><a href="/politique" class="navItems navBarD">Politique de Confidentialité</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>


            <ul id="nav-mobile" class="sidenav">
                <li><a class="sidenav-close" href="#!"><i class="material-icons" style="color: black;">menu</i></a>
                </li>
                <li><a href="/accueil" class="navItems navBarD">Accueil</a></li>
                <li><a href="/monhistoire" class="navItems navBarD">Mon histoire</a></li>
                <li><a href="/boutique" class="navItems navBarD">Boutique en ligne</a></li>
                <li><a href="/leclub" class="navItems navBarD">Le club</a></li>
                <li><a href="/lecontact" class="navItems navBarD">Contact</a></li>
                <li><a href="/politique" class="navItems navBarD">Politique de Confidentialité</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h4 style="color: #b71c1c;">Écrivain depuis l'âge de 14 ans</h4>
            <p>J'ai décidé d'écrire ma première histoire à l'adolescence ; c'était une histoire fantastique. Cependant,
                je me suis rapidement intéressé au genre du roman policier. L'idée de capturer des thèmes bruts et
                complexes tels que la nature humaine et l'obscurité dans laquelle elle peut sombrer me fascinait. <span
                    style="color: #b71c1c;">Le genre noir </span> m'a aidé à transmettre ces thèmes de manière plus
                discernable. J'ai toujours eu foi que les personnes
                lisant mes histoires trouveraient un point d'identification, car j'y intègre des expériences
                personnelles... mon histoire pourrait aussi être la vôtre.</p>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr2.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr4.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr5.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr6.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr8.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr9.jpg">

            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <img class="materialboxed responsive-img" src="/assets/images/carr10.jpg">

            </div>
            <div class="col l6 m6 s12 margin-top-7">
                <img class="materialboxed responsive-img" src="/assets/images/carr11.jpg">

            </div>

        </div>
        <div class="row">
            <div class="row">
                <div class="col l6 m6 s12">
                    <img class="materialboxed responsive-img" src="/assets/images/carr12.jpg">

                </div>
                <div class="col l6 m6 s12 margin-top-7">
                    <img class="materialboxed responsive-img" src="/assets/images/carr13.jpg">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col l6 m6 s12">
                    <img class="materialboxed responsive-img" src="/assets/images/carr14.jpg">

                </div>
                <div class="col l6 m6 s12">


                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Écrivain de roman policier.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Plan du site</h5>
                <ul>
                    <li><a href="/accueil" class="white-text navBarD">Accueil</a></li>
                    <li><a href="/boutique" class="white-text navBarD">Boutique en ligne</a></li>
                    <li><a href="/leclub" class="white-text navBarD">Le club</a></li>
                    <li><a href="/politique" class="white-text navBarD">Politique de Confidentialité</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Droits d'auteur © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - Tous droits réservés.</a>
        </div>
    </div>
</footer>