<div class="privacidadDiv">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" class="black-text">Libros</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Coleccionables</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Regalos</a></li>
        <li class="divider"></li>
    </ul>
    <nav class="white navDiv fonts" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="/assets/images/logo1.png" alt="logoIdm"
                    class="imageLogo"></a>
            <ul class="right hide-on-med-and-down navUl">
                <li><a href="/accueil" class="navItems navBarD">Accueil</a></li>
                <li><a href="/monhistoire" class="navItems navBarD">Mon histoire</a></li>
                <li><a href="/boutique" class="navItems navBarD">Boutique en ligne</a></li>
                <li><a href="/leclub" class="navItems navBarD">Le club</a></li>
                <li><a href="/lecontact" class="navItems navBarD">Contact</a></li>
                <li><a href="/politique" class="navItems navBarD">Politique de Confidentialité</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>


            <ul id="nav-mobile" class="sidenav">
                <li><a class="sidenav-close" href="#!"><i class="material-icons" style="color: black;">menu</i></a>
                </li>
                <li><a href="/accueil" class="navItems navBarD">Accueil</a></li>
                <li><a href="/monhistoire" class="navItems navBarD">Mon histoire</a></li>
                <li><a href="/boutique" class="navItems navBarD">Boutique en ligne</a></li>
                <li><a href="/leclub" class="navItems navBarD">Le club</a></li>
                <li><a href="/lecontact" class="navItems navBarD">Contact</a></li>
                <li><a href="/politique" class="navItems navBarD">Politique de Confidentialité</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="bannerPrivacidad">
        <div class="overlayPrivacidad">
            <div class="container centered">
                <div class="section">
                    <div class="row">
                        <div class="col s12 m4"></div>
                        <div class="col s12 m4">
                            <h2 class="avisoPrivacidadTitle white-text">Politique de Confidentialité</h2>
                        </div>
                        <div class="col s12 m4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="avisoDiv">
        <div class="container">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Qui sommes-nous?</th>
                        <td><span class="specialEliteFont">Alejandro Vilpa</span> est responsable de l'utilisation et de
                            la protection de vos informations personnelles.</td>
                    </tr>
                    <tr>
                        <th scope="row">À quelles fins utiliserons-nous vos données personnelles?</th>
                        <td>Les données personnelles que nous collectons auprès de vous seront utilisées pour valider
                            les moyens de paiement, le contact avec le client, ou toute autre fin liée à votre décision
                            de nous fournir vos informations en raison de votre intérêt pour nos services.</td>
                    </tr>
                    <tr>
                        <th scope="row">Où puis-je consulter l'avis de confidentialité complet?</th>
                        <td>Pour en savoir plus sur les conditions dans lesquelles vos données personnelles seront
                            traitées, ainsi que sur la manière dont vous pouvez exercer vos droits ARCO, vous pouvez
                            vous référer à l'avis de confidentialité complet.</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <p>
                <span class="specialEliteFont">Alejandro Vilpa</span> est responsable de l'utilisation et de la
                protection de vos informations personnelles. Par conséquent, nous vous informons des éléments suivants:
            </p>
            <p>
                Les données personnelles collectées, y compris les informations d'identification, de contact, d'emploi
                et financières, seront utilisées pour valider les modes de paiement, contacter le client, ou toute autre
                finalité liée à la fourniture de vos informations en raison de votre intérêt pour nos services.
            </p>
            <p>
                Vous avez le droit d'accéder aux données détenues par <span class="specialEliteFont">Alejandro
                    Vilpa</span> à votre sujet, ainsi que le but pour lequel elles sont utilisées et les conditions de
                leur utilisation. De même, en protection du droit de rectification, vous avez le droit de demander la
                correction de vos informations personnelles en cas de péremption, d'inexactitude ou d'incomplétude ;
                vous avez le droit à l'effacement, afin de demander la suppression de vos informations de nos dossiers
                ou bases de données si vous estimez qu'elles ne sont pas utilisées conformément aux principes, devoirs
                et obligations établis par la réglementation ; ainsi que le droit de vous opposer à l'utilisation de vos
                données personnelles à des fins spécifiques. Ces droits sont connus sous le nom de droits ARCO.
            </p>
            <p>
                Vous avez le droit de révoquer le consentement que vous avez donné pour le traitement de vos données
                personnelles. Cependant, il est important de noter que votre demande ne pourra pas toujours être traitée
                ou que l'utilisation ne pourra pas être conclue immédiatement, car des obligations légales peuvent nous
                contraindre à continuer le traitement de vos données personnelles. De plus, vous devez prendre en compte
                que, pour certaines fins, la révocation du consentement peut entraîner la suspension du service demandé
                ou la résiliation de votre relation avec Alejandro Vilpa.
            </p>
            <p>
                De même, vous avez le droit de limiter l'utilisation et la divulgation de vos informations afin qu'elles
                ne soient pas traitées à des fins de marketing, de publicité ou de prospection commerciale de la part
                d'Alejandro Vilpa.
            </p>
            <p>
                Pour connaître la procédure et les exigences pour exercer l'un quelconque des droits ARCO, révoquer le
                consentement, ou limiter l'utilisation et la divulgation de vos données, vous pouvez nous contacter par
                e-mail à l'adresse alecvipa@gmail.com, où toutes les questions concernant le traitement de vos
                informations seront traitées.
            </p>
            <p>
                Nous vous informons que nous utilisons des cookies, des balises web et d'autres technologies qui nous
                permettent de surveiller votre comportement en tant qu'utilisateur d'Internet, afin de vous offrir un
                meilleur service et une expérience conviviale lors de la navigation sur notre site Web, ainsi que pour
                vous envoyer des promotions, des mises à jour sur l'appel et des rappels aux participants. Vous pouvez
                désactiver cette fonctionnalité depuis les paramètres de votre navigateur web.
            </p>
            <p>
                Cet avis de confidentialité peut être modifié, changé ou mis à jour en raison de nouvelles exigences
                légales, de nos propres besoins pour les produits ou services que nous offrons, de nos pratiques en
                matière de confidentialité, de changements dans notre modèle commercial ou d'autres raisons. Toutes les
                modifications à cet avis de confidentialité seront communiquées par le biais du même site web.
            </p>
            <p>
                Dernière mise à jour le 1er janvier 2023.
            </p>

        </div> <br>

    </div>

</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Écrivain de roman policier.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Plan du site</h5>
                <ul>
                    <li><a href="/accueil" class="white-text navBarD">Accueil</a></li>
                    <li><a href="/boutique" class="white-text navBarD">Boutique en ligne</a></li>
                    <li><a href="/leclub" class="white-text navBarD">Le club</a></li>
                    <li><a href="/politique" class="white-text navBarD">Politique de Confidentialité</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Droits d'auteur © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - Tous droits réservés.</a>
        </div>
    </div>
</footer>