<div class="clubDiv">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" class="black-text">Libros</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Coleccionables</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="black-text">Regalos</a></li>
        <li class="divider"></li>
    </ul>
    <nav class="white navDiv fonts" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="/assets/images/logo1.png" alt="logoIdm"
                    class="imageLogo"></a>
            <ul class="right hide-on-med-and-down navUl">
                <li><a href="/" class="navItems navBarD">Home</a></li>
                <li><a href="/aboutme" class="navItems navBarD">My story</a></li>
                <li><a href="/store" class="navItems navBarD">Store</a></li>
                <li><a href="/theclub" class="navItems navBarD">Club</a></li>
                <li><a href="/contact" class="navItems navBarD">Contact</a></li>
                <li><a href="/privacy" class="navItems navBarD">Privacy policy</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>


            <ul id="nav-mobile" class="sidenav">
                <li><a class="sidenav-close" href="#!"><i class="material-icons" style="color: black;">menu</i></a>
                </li>
                <li><a href="/" class="navItems navBarD">Home</a></li>
                <li><a href="/aboutme" class="navItems navBarD">My story</a></li>
                <li><a href="/store" class="navItems navBarD">Store</a></li>
                <li><a href="/theclub" class="navItems navBarD">Club</a></li>
                <li><a href="/contact" class="navItems navBarD">Contact</a></li>
                <li><a href="/privacy" class="navItems navBarD">Privacy Policy</a></li>
                <li><a href="https://web.facebook.com/alejandrovilpa?_rdc=1&_rdr" class="navItems" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/alejandrovilpa/?hl=es" class="navItems" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                {{!-- <li><a href="/privacidad" class="navItems"><i class="fab fa-whatsapp-square"></i></a></li> --}}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <div class="row t">
            <h1>
                —Join the club.
            </h1>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Benefits:</h4>
                    </li>
                    <li class="collection-item">
                        <div>Exclusive discounts</div>
                    </li>
                    <li class="collection-item">
                        <div>Reading my work before anybody else</div>
                    </li>
                    <li class="collection-item">
                        <div>Priority for give aways</div>
                    </li>
                    <li class="collection-item">
                        <div>¿Are you an artist?, let's do something together!</div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="contactoDiv"> <br>
        <div class="container titleSiguenos">
            <div class="row">

                <h3>Be part of this community.</h3>
                <p style="font-style: italic; font-size: 1.5rem">Share with me your passion for books...
                </p>

            </div>
            <div class="row">
                <form class="col s12" action="/club/email" method="POST" onsubmit="return submitClubForm(this);">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="nameClub" placeholder="Nombre" id="first_name" type="text"
                                class="validate formInput" required="" aria-required="true">
                            <label for="first_name">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="emailClub" id="email" type="text" class="validate formInput" required=""
                                aria-required="true">
                            <label for="email">e-mail</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="countryClub" id="input_text" type="text" data-length="10" required=""
                                aria-required="true" class="formInput">
                            <label for="input_text">Country of residence</label>
                        </div>
                    </div>
                    <div class="row">
                        <label>
                            <input type="checkbox" required="" aria-required="true" />
                            <span>I agree with the <a href="/privacy">privacy policy</a></span>
                        </label>
                    </div>
                    <button class="btn waves-effect waves-light #212121 grey darken-4">Register
                        <i class="material-icons right" style="color: white !important;">send</i>
                    </button>
                </form>
            </div>
        </div> <br>

        <div class="opcionComprar">
            <div class="container">
                <div class="row centered titleSiguenos">
                    <h4>See the top products in my store:</h4>
                </div>
                <div class="row">
                    <div class="col l4 m4 s6">
                        <img class="responsive-img" src="/assets/images/libroSmirnov.jpg"
                            onclick="location.href='/store';">
                    </div>
                    <div class="col l4 m4 s6">
                        <img class="responsive-img" src="/assets/images/tazaCuadrada.jpg"
                            onclick="location.href='/store';">
                    </div>
                    <div class="col l4 m4 s6">
                        <img class="responsive-img" src="/assets/images/proximaCuadrada.jpg"
                            onclick="location.href='/store';">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Alejandro Vilpa</h5>
                <p class="white-text text-lighten-4">—Thriller novel writer.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text navBarD">Site map</h5>
                <ul>
                    <li><a href="/" class="white-text navBarD">Home</a></li>
                    <li><a href="/tienda" class="white-text navBarD">Store</a></li>
                    <li><a href="/club" class="white-text navBarD">Club</a></li>
                    <li><a href="/privacy" class="white-text navBarD">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright #616161 grey darken-2">
        <div class="container centered">
            Copyright © <a href="/" style="color: lightgrey;">2022 Alejandro Vilpa - All rights reserved.</a>
        </div>
    </div>
</footer>