<div class="recetasDiv">
    <br><br>
    <div class="carrouselDiv">
        <div class="titleVarietales container center-align">
            <a href="/contacto" class="waves-effect waves-light btn">Hacer pedido en volúmen</a>

        </div>
        <!-- Gallery -->
        <div id="portfolio" class="section gray">
            <div class="container">
                <div class="gallery row">
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/portadaLVRS.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>La otra vida de Rebecca Smirnov</span> <br>
                                <span class="price">$200.00 MN</span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>La otra vida de Rebecca Smirnov</h3>
                                    <span class="price" style="color: black;">$200.00 MN</span> <br>
                                    <span class="price">Costo de envío: $55.00 MN</span>
                                </div>
                                <p class="description">
                                    La pena de muerte es una posibilidad para Alejandro y Héctor, que esperan el
                                    veredicto por un crimen que no cometieron. El caso de “Los asesinos de mujeres” se
                                    ha reabierto. Es entonces que deciden actuar y escapar del hospital psiquiátrico
                                    donde los tienen reclusos. <br>
                                    Al salir al mundo real, se enfrentarán con todo tipo de personajes descarnados, que
                                    nos recuerdan la crudeza de la condición humana. En una atmósfera de tensión y
                                    adrenalina, surgen los secretos enterrados en el pasado, acerca de una vida de
                                    pasión y traición; misma que cobra expresión en la injusta condena que esperaban
                                    anteriormente. Se encontrarán con un enemigo desconocido, que yace en las sombras
                                    de: “la otra vida de Rebecca Smirnov”.</p>
                                <a href="https://books.google.com.mx/books/about/La_otra_vida_de_Rebecca_Smirnov.html?id=yxv9DwAAQBAJ&printsec=frontcover&source=kp_read_button&hl=es-419&redir_esc=y#v=onepage&q&f=false" class="waves-effect waves-light btn #b71c1c red darken-4" target="_blank">Vista previa del libro</a> <br> <br>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="65P579EZB38SN">
                                    <input type="image"
                                        src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif"
                                        border="0" name="submit"
                                        alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
                                        width="1" height="1">
                                </form>
                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/lvrs2.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/lvrs3.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/lvrs4.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/lvrs5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4  gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/taza.png" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Tu libro + una taza coleccionable</span> <br>
                                <span class="price">$300.00 MN</span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>Tu libro + una taza coleccionable</h3>
                                    <span class="price">$300.00 MN</span>
                                </div>
                                <p class="description">
                                    Vive o regala la experiencia completa. Estas tazas personalizadas son coleccionables
                                    y cambian por temporada.</p>
                                <a href="#" class="waves-effect waves-light btn #b71c1c red darken-4">Descargar muestra
                                    gratuita</a>

                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/lvrs2.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/lvrs3.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/lvrs4.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/lvrs5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>

                    </div>

                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/proximamente.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Algunas heridas nunca sanan...</span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>Algunas heridas nunca sanan...</h3>
                                    <span class="price"></span>
                                </div>
                                <p class="description">
                                    No te pierdas todas las novedades sobre mi siguiente novela. Suscríbete al club y
                                    recibe descuentos en productos y prioridad en las novedades y beneficios para la
                                    comunidad lectora. </p>
                                <div class="titleVarietales container center-align">
                                    <h4 style="color: #b71c1c;"></h4>
                                    <a href="/club" class="waves-effect waves-light btn #b71c1c red darken-4">Visitar
                                        Club</a>

                                </div>


                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>



                </div>



            </div>

        </div><!-- /.container -->

    </div>