<div class="recetasDiv">
    <br><br>
    <div class="carrouselDiv">
        <div class="titleVarietales container center-align">
            <a href="/contacto" class="waves-effect waves-light btn">Hacer pedido en volúmen</a>

        </div>
        <!-- Gallery -->
        <div id="portfolio" class="section gray">
            <div class="container">
                <div class="gallery row">
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/portadaLVRS.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>La otra vida de Rebecca Smirnov</span> <br>
                                <span class="price">$200.00 MN</span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>La otra vida de Rebecca Smirnov</h3>
                                    <span class="price" style="color: black;">$200.00 MN</span> <br>
                                    <span class="price">Costo de envío: $55.00 MN</span>
                                </div>
                                <p class="description">
                                    La pena de muerte es una posibilidad para Alejandro y Héctor, que esperan el
                                    veredicto por un crimen que no cometieron. El caso de “Los asesinos de mujeres” se
                                    ha reabierto. Es entonces que deciden actuar y escapar del hospital psiquiátrico
                                    donde los tienen reclusos. <br>
                                    Al salir al mundo real, se enfrentarán con todo tipo de personajes descarnados, que
                                    nos recuerdan la crudeza de la condición humana. En una atmósfera de tensión y
                                    adrenalina, surgen los secretos enterrados en el pasado, acerca de una vida de
                                    pasión y traición; misma que cobra expresión en la injusta condena que esperaban
                                    anteriormente. Se encontrarán con un enemigo desconocido, que yace en las sombras
                                    de: “la otra vida de Rebecca Smirnov”.</p>
                                <a href="https://books.google.com.mx/books/about/La_otra_vida_de_Rebecca_Smirnov.html?id=yxv9DwAAQBAJ&printsec=frontcover&source=kp_read_button&hl=es-419&redir_esc=y#v=onepage&q&f=false"
                                    class="waves-effect waves-light btn #b71c1c red darken-4" target="_blank">Vista
                                    previa del libro</a> <br> <br>
                                <form action="/create-checkout-session" method="POST">
                                    <button type="submit" id="checkout-button"
                                        class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                                </form>


                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/lvrs2.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/lvrs3.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/lvrs4.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/lvrs5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4  gallery-item gallery-expand gallery-filter polygon">


                    </div>

                     <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/proximamente.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>El aliento de los inocentes</span> <br>
                                <span class="price">$320.00 MN</span>
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>El aliento de los inocentes</h3>
                                    <span class="price" style="color: black;">$320.00 MN</span> <br>
                                    <span class="price">Costo de envío: $0.00 MN</span>
                                </div>
                                <p class="description">
                                    «La raza humana es tan ingenua que me enferma. Siempre esperando que sus traseros
                                    caigan sobre acolchado, siempre pensando en cómo obtener ventaja sobre otros; pero
                                    pocas veces, lo hacen de una manera inteligente». <br>

                                    Una ola de feminicidios azota la ciudad de México. Tras una noche de alcohol, el
                                    escritor Francisco Rojas nos sumerge en una serie de oscuros eventos, que permanecen
                                    borrosos en su memoria. Mientras él lucha contra su alcoholismo, descubre su
                                    homosexualidad en compañía de un joven escritor sumiso, que representa una relación
                                    cada vez más violenta. Juntos, desmantelan los crueles secretos de un psicópata que
                                    nadie conoce y de un crimen que nadie ha resuelto.</p>
                                <a href="https://books.google.com.mx/books?id=nFSWEAAAQBAJ&printsec=frontcover&dq=el+aliento+de+los+inocentes&hl=es-419&sa=X&redir_esc=y#v=onepage&q=el%20aliento%20de%20los%20inocentes&f=false"
                                    class="waves-effect waves-light btn #b71c1c red darken-4" target="_blank">Vista
                                    previa del libro</a>
                                <br> <br>
                                <form action="/create-checkout-session-inocentes" method="POST">
                                    <button type="submit" id="checkout-button"
                                        class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                                </form>


                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/lvrs2.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/lvrs3.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/lvrs4.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/lvrs5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>



                </div>



            </div>

        </div><!-- /.container -->

    </div>